@import "utils";
@import "fonts";
@import "typography";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.people {
  margin: 30px auto 0;
  width: 890px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-row-gap: 40px;
  grid-column-gap: 30px;
}

.photo {
  position: relative;

  .image {
    margin: 0;
    width: 200px;
    border-radius: 50%;
  }

  .rank {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    color: #800;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: 85px;
    right: 10px;
  }
}

.details {
  .name {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #2f4f4f;

    font-weight: 700;
  }

  .extra {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
}

.person {
  height: 230px;
  overflow: hidden;
}

.person:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  overflow: visible;

  .image {
    border-radius: 60px;
  }
}

@media (max-width: 999px) {
  .people {
    width: 430px;
    grid-template-columns: repeat(2, 200px);
  }
}
